.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  /* display: flex; */
  /* background: linear-gradient(135deg, #e0c3fc, #8ec5fc); */
  color: #1c1c1c;
  scroll-behavior: smooth;
}
